{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
div.ex1 {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}
header {
      width: 100%;
      height: 100vh;
      background: url("") 50% 0 no-repeat fixed;
      background-size: cover;
      opacity:0.3;
}
</style>
<header>


</header>
<div class="ex1">
  {% if user.is_authenticated %}
    <h4>   You are already logged in.. </h4>
  {% else %}
  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <h5>
    <div class="container">

          <br>
        <center>
          {{ form | crispy }}
        </center>
        <br><br>
          <div class="col-md-12 text-center ">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
          </div>
          <div class="col-md-12 text-center">
              <div class="login-or">
                 <hr class="hr-or">
                 <span class="span-or">or</span>
              </div>
           </div>

          <div class="form-group">
              <p class="text-center">Don't have account? <a href="{% url 'signup' %}" >Sign up here</a></p>
           </div>


      </div>
    </h5>
  </form>
  {% endif %}



  </div>

{% endblock %}
