{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/gadgets.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Electronics</h4>
      <p class="card-text">Best electronics at the best prices</p>
      <a href="/moreinfo/?category=Electronics" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

      <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/clothing.jpeg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Clothing</h4>
      <p class="card-text">Best Clothing at the best prices</p>
      <a href="/moreinfo/?category=Clothing" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

      <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/medicine.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Medical</h4>
      <p class="card-text">Best Medical at the best prices</p>
      <a href="/moreinfo/?category=Medical" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

      <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/groceries.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Accessories</h4>
      <p class="card-text">Best Accessories at the best prices</p>
      <a href="/moreinfo/?category=Accessories" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

      <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/furniture.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Furniture</h4>
      <p class="card-text">Best Furniture at the best prices</p>
      <a href="/moreinfo/?category=Furniture" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

      <div class="card" style="width:400px">
    <img class="card-img-top" src="/static/images/retail.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Home Essentials</h4>
      <p class="card-text">Best Home Essentials at the best prices</p>
      <a href="/moreinfo/?category=Home Essentials" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <br>

  </div>
</div>
{% endblock %}